html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height +margin+margin*/
  margin-bottom: 9em;
  padding-top: 5em;
  font-size: 100%;
}

#navbar li{
  font-size: 1.4em;
}

.jumbotron {
  background-image:url(http://i.huffpost.com/gen/1381142/thumbs/o-NEW-YORK-CITY-WRITER-facebook.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0em;


}

.jumbotron .container {
  position: relative;
  top:10em;
}

.jumbotron h1 {
  color: #fff;
  font-size: 4.8em;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 2em;
  color: #fff;
}


.subsection{

}

.subsection .container{
  position: relative;
}

.subsection h2 {
  font-size: 2em;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  color:#393c3d;
}

.subsection p {
  font-size: 1.4em;
}

.subsection ul {
  font-size: 1.4em;
}

.subsection img {
  height: 18em;
}


.photos{

}

.photos .container{
  position: relative;
}


.photos h2{
  font-size: 2em;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  color:#393c3d;
}
.photos p{
    font-size:1.4em;
    margin-bottom:1.6em;
    
}




/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 6em;
        border-top: 1px solid #CBCBCB; 
        border-bottom: 1px solid #CBCBCB; 
        color: #8C8889; 
        text-align: right; 
        margin: 1em 0em;
        padding: 2em 0em;

}

.footer .center{
  font-size: 1.3em;
}


.footer a { color: #8C8889; text-decoration: none; }
.footer a:hover { text-decoration: underline; }


